body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  height: 100vh;
  background: linear-gradient(300deg, #25274D, #10E7DC);
  font-family: sans-serif;
}

.effect-1,
.effect-2, 
.effect-3{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}

.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}

table {
   padding:10px 10px 10px 10px;
   background-color: #a0d4eb;
   border-radius: 10px;
   margin: 2% 0;
   border: 3px solid black;
   border-collapse:separate;
   border-spacing: 0 1em;
}

.table_block {
  border-radius: 5%;
  border: 1% solid #000;
  display: inline-block;
}

a {
  border-radius: 10px;
  background-color: #0db6ff;
  box-shadow: 0 5px 0 #78d6ff;
  color: white;
  padding: 1% 0;
  text-decoration: none;
}

a:hover {
  background-color: #0084ff;
  cursor: pointer;
  color: black;
}

a:active {
  box-shadow: none;
  top: 5px;
}

.small {
    padding:10px 10px 10px 10px;
    margin-left: 47.4%;
}

.rounded-input {
  padding:10px;
  border-radius:10px;
}

input{
  font-family:inherit;
  font-size: inherit;
}