<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Рассчёт </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="../static/form.css" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="form-container align">
            <table class="table form-horizontal">
                <thead>
                <tr>
                    <th class="select" scope="col">Критерий</th>

                    {% for i in analogs_dict %}
                        <th class="select" scope="col">Аналог {{i + 1}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="select" scope="row">Корректировка на торг</th>

                    {% for i in analogs_dict %}
                        <td class="select" scope="col">{{analogs_dict[i][0]}}</td>
                    {% endfor %}

                </tr>
                <tr>
                    <th class="select" scope="row">Корректировка на площадь</th>
                    {% for i in analogs_dict %}
                        <td class="select" scope="col">{{analogs_dict[i][1]}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="select" scope="row">Корректировка на удаленность от метро</th>
                    {% for i in analogs_dict %}
                        <td class="select" scope="col">{{analogs_dict[i][2]}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="select" scope="row">Корректировка на этаж</th>
                    {% for i in analogs_dict %}
                        <td class="select" scope="col">{{analogs_dict[i][3]}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="select" scope="row">Корректировка на площадь кухни</th>
                    {% for i in analogs_dict %}
                        <td class="select" scope="col">{{analogs_dict[i][4]}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="select" scope="row">Корректировка на наличие балкона/лоджии</th>
                    {% for i in analogs_dict %}
                        <td class="select" scope="col">{{analogs_dict[i][5]}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="select" scope="row">Корректировка на ремонт</th>
                    {% for i in analogs_dict %}
                        <td class="select" scope="col">{{analogs_dict[i][7]}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="select" scope="row"> </th>
                    {% for i in analogs_dict %}
                        <td class="select" scope="col">{{analogs_dict[i][6]}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="select" scope="row">Разница между максимальным и минимальным значением</th>
                    <td class="select" colspan="{{analogs_dict|length}}">{{max_min}}</td>
                </tr>
                <tr>
                    <th class="select" scope="row">Размер примененных корректировок, %</th>
                    {% for i in sizes %}
                        <td class="select">{{i}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="select" scope="row">Вес аналога</th>
                    {% for i in weights %}
                        <td class="select">{{i}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="select" scope="row">Рыночная стоимость, руб./кв.м. (с НДС)</th>
                    <td class="select" colspan="{{analogs_dict|length}}">{{etalon_price_per_m}} руб.</td>
                </tr>
                <tr>
                    <th class="select" scope="row">Рыночная стоимость, руб. (с НДС)</th>
                    <td class="select" colspan="{{analogs_dict|length}}">{{etalon_price}} руб.</td>
                </tr>
                </tbody>
            </table>
            <div class="offset-md-4 col-md-4 offset-sm-3 col-sm-1 form-horizontal">
                <input type="submit" class="btn signup" value="Экспорт в Excel">
                <a class="btn signin" href="/analogue">Назад</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>