<!DOCTYPE html>
<html lang="en">
<head>
	<title>Авторизация</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="center">
      <h1>Добро пожаловать</h1>
      <form method="post">
        {{ form.hidden_tag() }}

          <p>{{ form.login.label }}
             {{ form.login(size=32) }}</p>


          <p>{{ form.password.label }}
             {{ form.password(size=32) }}</p>


          <p>{{ form.submit() }}</p>

        <div>
          <a class="styled" href="/registration">Регистрация</a>
        </div>
      </form>
    </div>
</body>
</html>