<!DOCTYPE html>
<html lang="en">
<head>
	<title>Страница регистрации</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style_reg.css') }}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="center">
      <h1>Регистрация пользователя</h1>
      <form method="post"><center>
        <div class="inputbox">
          <input type="text" name="email_reg_page" id="email_reg_page" required="required">
          <span>Почта</span>
        </div>
        <div class="inputbox">
          <input type="text" name="login_reg_page" id="login_reg_page" required="required">
          <span>Логин</span>
        </div>
        <div class="inputbox">
          <input type="password" name="pass_reg_page" id="pass_reg_page" required="required">
          <span>Пароль</span>
        </div>
        <div class="inputbox">
          <input type="password" name="sec_pass_reg_page" id="sec_pass_reg_page" required="required">
          <span>Подтверждение пароля</span>
        </div>
        <div>
          <input class="styled" type="submit" name="new_reg_button" id="new_reg_button" value="Продолжить">
        </div>
      </center></form>
      <form></form>
    </div>
</body>
</html>