<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Эталонный объект </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="../static/form.css" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</head>
<body>

<a href="/logout" class="btn signup">Выйти</a>
<div class="container-fluid">
    <div class="offset-md-4 col-md-4 offset-sm-3 col-sm-1">
        <div class="form-container align">
            <h3 class="title"> Эталонный объект </h3>
            <form action="/analogue" class="form-horizontal" method="post">
                <div class="form-group">
                    <input type="text" id="place" name="place" class="form-control" placeholder="Местоположение"
                           value="{% if file_data %}{{ file_data['Местоположение'] }}{% endif %}">
                </div>
                <div class="form-group">
                    <input type="text" id="rooms_num" name="rooms_num" class="form-control" placeholder="Количество комнат"
                           value="{% if file_data %}{{ file_data['Количество комнат'] }}{% endif %}">
                </div>
                <div class="form-group">
                    <select class="form-control select" id="type_house" name="type_house">
                        {% if file_data %}
                        <option {% if file_data.get(
                        'Сегмент (Новостройка, современное жилье, старый жилой фонд)')=='Новостройка' %}selected{% endif
                        %} class="form-control option">Новостройка</option>
                        <option {% if file_data.get(
                        'Сегмент (Новостройка, современное жилье, старый жилой фонд)')=='Современное жилье' %}selected{%
                        endif %} class="form-control option">Современное жилье</option>
                        <option {% if file_data.get(
                        'Сегмент (Новостройка, современное жилье, старый жилой фонд)')=='Старый жилой фонд' %}selected{%
                        endif %} class="form-control option">Старый жилой фонд</option>
                        {% else %}
                        <option class="form-control option">Новостройка</option>
                        <option class="form-control option">Современное жилье</option>
                        <option class="form-control option">Старый жилой фонд</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="level_house" name="level_house" class="form-control" placeholder="Этажность дома"
                           value="{% if file_data %}{{ file_data['Этажность дома'] }}{% endif %}">
                </div>
                <div class="form-group">
                    <select class="form-control select" id="material_house" name="material_house">
                        {% if file_data %}
                        <option {% if file_data.get(
                        'Материал стен (Кипич, панель, монолит)')=='Кирпич' %}selected{% endif
                        %} class="form-control option">Кирпич</option>
                        <option {% if file_data.get(
                        'Материал стен (Кипич, панель, монолит)')=='Панель' %}selected{%
                        endif %} class="form-control option">Панель</option>
                        <option {% if file_data.get(
                        'Материал стен (Кипич, панель, монолит)')=='Монолит' %}selected{%
                        endif %} class="form-control option">Монолит</option>
                        {% else %}
                        <option class="form-control option">Кирпич</option>
                        <option class="form-control option">Панель</option>
                        <option class="form-control option">Монолит</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="level_room" name="level_room" class="form-control" placeholder="Этаж расположения"
                           value="{% if file_data %}{{ file_data['Этаж расположения'] }}{% endif %}">
                </div>
                <div class="form-group">
                    <input type="text" id="area_room" name="area_room" class="form-control" placeholder="Площадь квартиры"
                           value="{% if file_data %}{{ file_data['Площадь квартиры, кв.м'] }}{% endif %}">
                </div>
                <div class="form-group">
                    <input type="text" id="area_kitchen" name="area_kitchen" class="form-control" placeholder="Площадь кухни"
                           value="{% if file_data %}{{ file_data['Площадь кухни, кв.м'] }}{% endif %}">
                </div>
                <div class="form-group">
                    <select class="form-control select" id="balcony" name="balcony">
                        {% if file_data %}
                        <option {% if file_data.get(
                        'Наличие балкона/лоджии')=='Да' %}selected{% endif %} class="form-control option">Есть балкон /
                        лоджия</option>
                        <option {% if file_data.get(
                        'Наличие балкона/лоджии')=='Нет' %}selected{% endif %} class="form-control option">Нет балкона /
                        лоджии</option>
                        {% else %}
                        <option class="form-control option">Есть балкон / лоджия</option>
                        <option class="form-control option">Нет балкона / лоджии</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="metro_time" name="metro_time" class="form-control" placeholder="Удаленность от станции метро (минуты)"
                           value="{% if file_data %}{{ file_data['Удаленность от станции метро, мин. пешком'] }}{% endif %}">
                </div>
                <div class="form-group">
                    <select class="form-control select" id="renovation" name="renovation">
                        {% if file_data %}
                        <option {% if file_data.get(
                        'Состояние (без отделки, муниципальный ремонт, с современная отделка)')=='Без отделки'
                        %}selected{% endif %} class="form-control option">Без отделки</option>
                        <option {% if file_data.get(
                        'Состояние (без отделки, муниципальный ремонт, с современная отделка)')=='Муниципальный ремонт'
                        %}selected{% endif %} class="form-control option">Муниципальный ремонт</option>
                        <option {% if file_data.get(
                        'Состояние (без отделки, муниципальный ремонт, с современная отделка)')=='Современная отделка'
                        %}selected{% endif %} class="form-control option">Современная отделка</option>
                        {% else %}
                        <option class="form-control option">Без отделки</option>
                        <option class="form-control option">Муниципальный ремонт</option>
                        <option class="form-control option">Современная отделка</option>
                        {% endif %}
                    </select>
                </div>
                <input type="submit" name="r_btn" id="r_btn" class="btn signup" value="ПОКАЗАТЬ АНАЛОГИ">

            </form>



            <form class="form-horizontal" action="/welcome" method="POST" enctype="multipart/form-data">
                <div class="form-group align">

                    <input class="form-control" onchange="javascript:this.form.submit();" type="file" id="file"
                           name="file" accept="{{ allowed_extensions }}">

<!--                    <a class="btn signin" href="/analogue">Показать аналоги</a>-->
<!--                    <a class="btn signin" href="/adjustments">Рассчитать</a>-->
                </div>
            </form>

        </div>
    </div>
</div>
<!--TODO: Добавить поля в аналог-->

<div class="container-fluid">
    <div class="row">
        <!--       Сюда нужно выводить аналоги после нажатия кнопки показать аналоги         -->
        <!--       До нажатия кнопки этих блоков нет, добавляются в цикле         -->
        <!--       Для каруселей надо id расставлять в цикле -->

        {% for obj in list_class %}
        <div class="col-md-4">
            <div class="form-data align">
                <!--В карусель ссылки на фото из БД-->
                <div id=carousel{{obj.id_avito}} class="carousel slide data image" data-bs-ride="true">

                    <div class="carousel-indicators">
                        {% for i in obj.images.split(',') %}
                        <button type="button" data-bs-target="#carousel{{obj.id_avito}}" data-bs-slide-to="{{loop.index}}" class="active"
                                aria-current="true" aria-label="Slide {{loop.index}}"></button>
                        {% endfor %}
                    </div>

                    <div class="carousel-inner">
                        {% for i in obj.images.split(',') %}
                        {% if loop.index == 1 %}
                            <div class="carousel-item active">
                                <img src="{{ i }}"
                                     class="d-block w-100" alt="...">
                            </div>
                        {% else %}
                             <div class="carousel-item">
                                <img src="{{ i }}"
                                     class="d-block w-100" alt="...">
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target=#carousel{{obj.id_avito}}
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target=#carousel{{obj.id_avito}}
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>

                <label class="data">Местроположение: {{ obj.location }}</label>
                <label class="data">Количество комнат: {{ obj.number_rooms }}</label>
                <label class="data">Сегмент: {{ obj.segment }}</label>
                <label class="data">Материал стен: {{ obj.material }}</label>
                <label class="data">Этажность дома: {{ obj.floor_total }}</label>
                <label class="data">Этаж: {{ obj.floor }}</label>
                <label class="data">Площадь квартиры: {{ obj.total_area }}</label>
                <label class="data">Площадь кухни: {{ obj.kitchen_area }}</label>
                <label class="data">Наличие балкона / лоджии: {% if obj.balcony %} {{ obj.balcony }} {% else %} Нет балкона / лоджии{% endif %} </label>
                <label class="data">Удаленность от станции метро: {{ obj. nearest_metro_time }}</label>
                <label class="data">Состояние: {{ obj.repairs }}</label>
                <form class="form-horizontal">
                <a class="btn signin" href="{{obj.url}}">Показать объявление</a>
                </form>
            </div>
        </div>

        {% if list_class|length == loop.index %}
            <center><div class="form-horizontal">
                <a class="btn signin" href="/adjustments/{{list_id}}">Сделать рассчет</a>
            </div></center>
        {% endif %}

    {% endfor %}

    </div>
</div>

<script>

    let input1 = document.getElementById("place")
    let input2 = document.getElementById("rooms_num")
    let input3 = document.getElementById("type_house")
    let input4 = document.getElementById("level_house")
    let input5 = document.getElementById("material_house")
    let input6 = document.getElementById("level_room")
    let input7 = document.getElementById("area_room")
    let input8 = document.getElementById("area_kitchen")
    let input9 = document.getElementById("balcony")
    let input10 = document.getElementById("metro_time")
    let input11 = document.getElementById("renovation")

    let button_r = document.getElementById("r_btn");
    console.log(button_r);
    button_r.disabled = true

    function button_check(){
        console.log("fefewgwg")
        if ((input1.value !== "") && (input2.value !== "") && (input4.value !== "") && (input6.value !== "") && (input7.value !== "") && (input8.value !== "") && (input10.value)){
            console.log("if")
            button_r.disabled = false;
        } else {
            button_r.disabled = true;
        }
    }
    input1.addEventListener('input', button_check)
    input2.addEventListener('input', button_check)
    input3.addEventListener('input', button_check)
    input4.addEventListener('input', button_check)
    input5.addEventListener('input', button_check)
    input6.addEventListener('input', button_check)
    input7.addEventListener('input', button_check)
    input8.addEventListener('input', button_check)
    input9.addEventListener('input', button_check)
    input10.addEventListener('input', button_check)
    input11.addEventListener('input', button_check)

</script>

</body>
</html>
