<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_welcome.css') }}" type="text/css">
</head>
<body>
<center>
    <table class="table_block">
        <tbody>
            <tr>
                <td><p>Местоположение:</p></td>
                <td><input class="effect-1 rounded-input" placeholder="Введите адрес" type="text" required></td>
            </tr>
            <tr>
                <td><p>Количество комнат:</p></td>
                <td><input class="effect-1 rounded-input" placeholder="Введите кол-во комнат" type="number" required minlength="1" maxlength="2"></td>
            </tr>
            <tr>
                <td><p>Сегмент:</p></td>
                <td><input type="radio" id="seg_new" name="seg"><label>Новостройка</label><br>
                    <input type="radio" id="seg_pres" name="seg"><label>Современное жилье</label><br>
                    <input type="radio" id="seg_old" name="seg"><label>Старый жилой фонд</label></td>
            </tr>
            <tr>
                <td><p>Этажность дома:</p></td>
                <td><input class="effect-1 rounded-input" placeholder="Введите кол-во этажей" type="number" required minlength="1" maxlength="2"></td>
            </tr>
            <tr>
                <td><p>Этаж расположения:</p></td>
                <td><input class="effect-1 rounded-input" placeholder="Введите этаж квартиры" type="number" required minlength="1" maxlength="2"></td>
            </tr>
            <tr>
                <td><p>Площадь квартиры:</p></td>
                <td><input class="effect-1 rounded-input" placeholder="Введите площадь" type="text" required></td>
            </tr>
            <tr>
                <td><p>Наличие балкона/лоджии:</p></td>
                <td><input type="radio" id="balcony_yes" name="balcony"><label>Да</label><br>
                    <input type="radio" id="balcony_no" name="balcony"><label>Нет</label></td>
            </tr>
            <tr>
                <td><p>Удаленность от станции метро (минуты):</p></td>
                <td><input class="effect-1 rounded-input" placeholder="Введите текст" type="number" required minlength="1" maxlength="2"></td>
            </tr>
            <tr>
                <td><p>Состояние:</p></td>
                <td><input type="radio" id="sost_without" name="sost"><label>Без отделки</label><br>
                <input type="radio" id="sost_norm" name="sost"><label>Муниципальный ремонт</label><br>
                <input type="radio" id="sost_with_remont" name="sost"><label>Современная отделка</label></td>
            </tr>

        </tbody>
    </table>
</center>
<table class="button-file" align="center">
    <tr><th>Загрузить excel файл</th><th>Показать аналоги</th><th>Сделать рассчет</th></tr>
    <tr><td><input type="file" accept=".xls, .xlsx" id="file_xl_welcome" name="file_xl_welcome"></td>
        <td><center><a class="small" href="/analogue">Показать</a></center></td>
        <td><center><a class="small" href="/adjustments">Рассчитать</a></center></td></tr>
</table>
</body>
</html>